h1, h2, h3, h4, h5, h6, blockquote { font-weight: $regular; padding: 0; margin: 0; display: block; }
p { padding: 0; margin: 0; }

input, textarea { border: 0; padding: 0; margin: 0; color: black; box-shadow: none; opacity: 1; }
// ul, ol, li { padding: 0; margin: 0; }