@charset 'UTF-8';

@import './fonts.scss';
@import './variables.scss';
@import './reset.scss';

html { overflow-y: visible; height: 100%; min-height: 0; }
body { overflow-y: scroll; padding: 0; margin: 0; color: $grey-dark; font-family: $Roboto; min-height: 100%; min-width: 100%; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-size-adjust: 100%; }
input, textarea { font-family: $Roboto; color: $grey-dark; }

body { height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background: white; }

@import '../components/_basic/**/*.scss';

a { @extend .text-button; }
h1 { @include heading1; }
h2 { @include heading2; }

@import '../components/!(_basic)/**/*.scss';
@import '../pages/**/*.scss';

.main {
  &__loader { animation: fade-in 0.3s $easeInQuint 0.1s forwards; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; opacity: 0; }
}