$mobile: 'only screen and (max-width: 767px)';
$desktop: 'only screen and (min-width: 768px)';

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$Roboto: Roboto, Helvetica, Arial, Droid, sans-serif;