$mobile: 'only screen and (max-width: 767px)';
$desktop: 'only screen and (min-width: 768px)';

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$Roboto: Roboto, Helvetica, Arial, Droid, sans-serif;

$grey-dark: #333333;
$grey-medium: #838383;
$grey-darklight: #999999;
$grey-light: #CDCDCD;
$grey-background: #F5F5FF;
$blue: #1071FF;