@import 'easings.scss';

$mobile: 'only screen and (max-width: 767px)';
$desktop: 'only screen and (min-width: 768px)';

$contentWidth: 960px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$Roboto: Roboto, Helvetica, Arial, Droid, sans-serif;
$Inconsolata: Inconsolata, monospace;

$grey-dark: #333333;
$grey-medium: #838383;
$grey-darklight: #999999;
$grey-light: #CDCDCD;
$grey-background: #F8F8F8;
$blue: #1071FF;
$blue-hover: #579CFF;

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes rotate-clockswise {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@mixin default-transition($props...) {
  $str: '';
  $i: 1;
  $len: length($props);
  @each $prop in $props {
    $str: $str + $prop + ' 0.1s ease-in-out';
    @if $i < $len {
      $str: $str + ', ';
    }
    $i: $i + 1;
  }
  transition: unquote($str);
}