.spinner { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; animation: rotate-clockswise 0.85s linear infinite;
  &-container { width: 19px; height: 19px; position: relative; }
}