.course { display: flex; justify-content: center; padding: 0 28px 48px;
  &__sidebar { width: 228px; position: sticky; top: 8px; align-self: flex-start;
    .sidebar__title {
      &:after { content: ' '; @include heading1; vertical-align: baseline; }
    }
  }
  &__overview { color: $grey-medium; }
  &__btn-next { margin-top: 28px; width: 208px; }
}

@media #{$mobile} {
  .course { flex-direction: column; padding: 0 0 48px;
    &__sidebar { width: 100%; box-sizing: border-box; padding-left: 16px; padding-right: 16px; padding-top: 0; position: relative; }
  }
}