.breadcrumbs { display: flex; align-items: center; margin-left: auto; margin-right: auto; width: 100%; max-width: $contentWidth; padding: 12px 0 12px 260px; flex-wrap: wrap; box-sizing: border-box;
  &__item { white-space: nowrap;
    &:after { content: '>'; padding: 0 6px; }

    &:last-child {
      &:after { display: none; }
    }
  }
}

@media #{$mobile} {
  .breadcrumbs { padding: 28px 16px 16px; box-sizing: border-box; }
}