.breadcrumbs { display: flex; align-items: center; margin-left: auto; margin-right: auto; width: 100%; max-width: $contentWidth; padding: 13px 0; flex-wrap: wrap;
  &__item { white-space: nowrap;
    &:after { content: '>'; padding: 0 6px; }

    &:last-child {
      &:after { display: none; }
    }
  }
}

@media #{$mobile} {
  .breadcrumbs { padding: 30px 18px 34px; box-sizing: border-box; }
}