.courses { padding: 48px 28px; margin: 0 auto; max-width: $contentWidth; padding-left: 260px; box-sizing: border-box;
  &__link { display: table; }
}

@media #{$mobile} {
  .courses { padding: 28px 16px 48px; }
}